* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: row;
}

.left-box, .right-box{
    display: flex;
    flex-direction: column;
}

.logo {
    font-family: "Oxygen", sans-serif;
}
