* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1em;
    --split-ratio: 0.6;
}

body {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.split {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
}

.left {
    background: url(img/bg3.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    flex: var(--split-ratio) var(--split-ratio) 0;
    flex-wrap: wrap;
}

.right {
    height: 100vh;
    margin: 0;
    justify-content: center;
    flex: calc(1 - var(--split-ratio)) calc(1 - var(--split-ratio)) 0;
}

.logo-box {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin: 0 auto;
    position: absolute;
    top: 30vh;
    color: white;
    background-color: black;
    opacity: 0.7;
    width: calc(100vw * var(--split-ratio));
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#logo {
    width: auto;
    height: 150px;
    padding: 2em;
}

.logo-text {
    font-family: "Libre Bodoni", serif;
    font-size: 72pt;
}

.bg-ref {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-ref-text {
    position: absolute;
    bottom: 1em;
    font-size: 0.8em;
}

.bg-ref-text,
.bg-ref-text > a,
.bg-ref-text > a:visited {
    color: white;
}

.right-herobox,
.right-bot {
    display: flex;
    flex: 1;
    background-color: rgb(231, 230, 230);
}

.right-herobox {
    height: 40vh;
    padding: 2em;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 20pt;
    gap: 1em;
}

.right-herotext2 {
    font-style: italic;
}

.right-formbox {
    padding: 1em;
}

.form-heading {
    font-size: 20pt;
    font-weight: 600;
    padding: 1em;
}

.form-fields {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    margin: 1em;
}

.formfield {
    display: flex;
    flex-direction: column;
}

input {
    width: 180px;
}

button {
    font-size: 16pt;
    padding: 0.5em 1.5em;
    margin: 1em;
}

.right-bot {
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: space-between;
    gap: 1em;
}

.right-login {
    font-size: 16pt;
}

.right-login > a,
.right-login > a:visited {
    font-size: 16pt;
    text-decoration: none;
    font-weight: 800;
    color: rgb(0, 81, 255);
}

.right-footer {
    font-size: 1em;
    text-align: center;
}
